*.ftp
server/source/noexs/noexs.kip1
server/source/noexs/noexs.elf
server/source/noexs/build
server/source/noexs/054e4f4558454000.zip
server/source/noexs/exefs.nsp
server/source/noexs/noexs.nso
server/source/noexs/noexs.nsp
server/source/noexs/054e4f4558454000/exefs.nsp
